body {
  background: #262a30;
  color: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.bets-input__wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #1a1e23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    margin-left: 5%;
    padding: 10px 20px;
    background: unset;
    border: 0;
    color: #fff;
    outline: none;
  }
}

.bets-group-btn {
  display: flex;
  padding: 10px;
  margin-right: 10%;
}
.bets-clear__btn {
  color: #31353d;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 3%;
  font-weight: 600;
}

.bets-counts__btn {
  background: #31353d;
  padding: 5px 10px;
  margin: 0 2%;
  border-radius: 5px;
  cursor: pointer;
}

.bet-wrapper {
  margin-bottom: 100px;
  margin-top: 50px;
}

.history-item {
  width: 25px;
  height: 25px;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roulette-history__wrapper {
  display: flex;
}

.guess--wrapper {
  display: flex;
  p {
    margin-left: 5%;
  }
}
