.nav-bar {
  background-color: #1a1e23;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-wrapper {
  display: flex;
  width: 138px;

  a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  a:first-child {
    margin-right: 8%;
  }
  a:hover {
    color: #23b820;
  }
}
